.header {
    background-color: blanchedalmond;
    display: flex;
    padding: 30px;
    justify-content: center;
  }
   
  .nav {
    padding: 20px;
    display: flex;
    justify-content: center;
    background-color: aquamarine;
  }
  .navegacion a {
    text-decoration: none;
    padding: 18px;
    color: black;
    font-size:x-large;
    ;
  }
  .navegacion a:hover {
    color: rgb(173, 10, 32);
  }

body {
    margin: 0;
    padding: 0;
  }
  .section1,
.section2 {
  padding: 50px;
  display: flex;
  justify-content: center;
}
.section1 img,.section2 img {
  height: 200px;
  padding: 20px;
}
    
  footer {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
  }
  
.l1, .l9{
    transition: width 2s;
}
 
.l1:hover, .l9:hover{
    width: 100px;
   }

.l2, .l10{
    width: 100px;
    animation: rotar 1s linear infinite;
}
@keyframes rotar{
    from{transform: rotate(0deg);}
    to{transform: rotate(360deg);}
}
.l3{
    animation-name: ejemplo;
    animation-duration: 10s;
    animation-iteration-count: infinite ;
 }
 
@keyframes ejemplo{
    from {opacity:100% ;}
    to {opacity:20% ;}
}
.l4:hover{
    transform: skew(30deg, 20deg);
}

.l6{
    width: 100px;
    animation: rotar 1s linear infinite;
}
@keyframes rotar{
    from{transform: rotate(0deg);}
    to{transform: rotate(150deg);}}

.l7{
    animation-name: ejemplo2;
    animation-duration: 10s;
    animation-iteration-count: infinite ;
 }
 
@keyframes ejemplo2{
    from {opacity:100% ;}
    to {opacity:20% ;}
}
  .iconos {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .iconos img {
    width: 30px;
    transition: transform 0.3s ease;
  }
    
  .iconos img:hover {
    transform: scale(1.2); 
  }